@import '~@ux/intents/lib/index';
@import './scss/theme.scss';

$base-unit: 8px;
$spacing-xs: $base-unit / 2; // 4px
$spacing-s: $base-unit; // 8px
$spacing-m: $base-unit * 2; // 16px
$spacing-l: $base-unit * 3; // 24px
$spacing-xl: $base-unit * 5; // 40px

$bg--base: #fff;
$bg--low-contrast: #f5f7f8;
$color: #111;
$color--passive: #767676;

/* feedback colours – default */
$critical: #FFBBBB;
$highlight: #A6FFF8;
$info: #D3C1F7;
$internal: #FBD9ED;
$neutral: #DDEAF8;
$success: #9FFFB8;
$passive: #F4F8FC;
$premium: $bg--base;
$warning: #FFEEA9;

$colors: (
  "critical": $critical,
  "highlight": $highlight,
  "info": $neutral,
  "internal": $passive,
  "neutral": $neutral,
  "success": $success,
  "passive": $passive,
  "premium": $premium,
  "warning": $warning
);

/* feedback colours – high contrast */
$critical--high-contrast: #DB1802;
$highlight--high-contrast: #09757A;
$info--high-contrast: #145FA9;
$internal--high-contrast: #767676;
$premium--high-contrast: #B4006C;
$success--high-contrast: #00A63F;
$warning--high-contrast: #DE7C00;

$colors--high-contrast: (
  "critical": $critical--high-contrast,
  "highlight": $highlight--high-contrast,
  "info": $info--high-contrast,
  "internal": $internal--high-contrast,
  "premium": $premium--high-contrast,
  "success": $success--high-contrast,
  "warning": $warning--high-contrast
);

$border-setup: 1px solid #d4dbe0;
$border-radius-section: 16px;
$border-radius-form: 8px;

$button-border: 1px solid $color;
$button-border-disabled: 1px solid rgba($color, 0.5);
$button-border-radius: 6px;
$button-padding: $spacing-xs $spacing-s;

$alert-border-radius: 8px;
$alert-gap: $spacing-m;
$alert-padding-right: $spacing-xl + $spacing-m; // 56px
$alert-inner-padding: $spacing-l $alert-padding-right $spacing-l $spacing-m;
$alert-thick-border: 7px; // recommend 8px (Figma says 12px), 1px offset

$dismiss-button-border-radius: 6px; // from Figma minimal icon button
$dismiss-button-size: 20px;

$icon-size: 24px;

$font-smaller: 0.9rem;


.App {
  margin: $spacing-xl auto;
  max-width: 2362px;
  min-width: fit-content;
  overflow: scroll;
}

/*********************
 *** SECTION *********
 ********************/

.section {
  border: $border-setup;
  border-radius: $border-radius-section;
  margin: 0 $spacing-xl;
  padding: $spacing-xl;

  &:not(:last-of-type) {
    margin-bottom: $spacing-l;
  }

  .section--header {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacing-m;
    justify-content: space-between;

    .header-actions {
      display: flex;
      flex-direction: row;
      flex-wrap:wrap;
      gap: $spacing-s;
    }
  }

  .section--main {
    gap: $spacing-xl;
    margin-top: $spacing-m;
  }

  .subsection {
    background-color: $bg--low-contrast;
    border-radius: $border-radius-section;
    padding: $spacing-l;

    .wrapper {
      display: grid;

      &.shared {
        gap: $spacing-xl;
        grid-template-columns: 1fr 2fr;
      }
      
      &.new {
        grid-template-columns: 1fr;
      }
    }
  }
}

/*********************
 *** SETUP ***********
 ********************/

.section.setup {
  .section--main {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .cta-block {
    display: flex;
    gap: $spacing-l;
    flex-direction: row;

    form {
      width: 50%;
    }
  }
}

.setup--block {
  display: flex;
  flex-direction: column;

  &.horizontal form {
    display: flex;
    flex-direction: row;
    gap: $spacing-l;

    div {
      margin-bottom: 0 !important;
    }
  }

  &:not(:last-of-type) {
    margin-bottom: $spacing-l;
  }

  form,
  form div {
    &:not(:last-of-type) {
      margin-bottom: $spacing-s;
    }
  }

  input,
  textarea {
    border: $border-setup;
    border-radius: $border-radius-form;
    padding: $spacing-s;
    width: 100%;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-right: $spacing-s;
    width: auto !important;
  }

  .label-wrapper {
    align-items: center;
    display: flex;
    gap: $spacing-s;
    margin-bottom: $spacing-s;

    label {
      margin-bottom: 0;
    }
  }
}

/*********************
 *** EXAMPLES ********
 ********************/

.section.examples {
   .section--main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .example {

    div {
      transition: 1s all ease-in-out;
    }

    .border, .border-left {
      transition: 0.3s all ease-in-out;
    }

    h3, p {
      transition: 0.3s all ease-in-out;
    }

    .Alert--icon svg path {
      transition: 0.3s all ease-in-out;
    }

    .Alert--actions {
      transition: none;
    }
  }
}

/*********************
 *** NEW ALERT *******
 ********************/

.Alert-New {
  border: 1px solid transparent;
  border-radius: $alert-border-radius;
  container-name: alert-outer;
  container-type: inline-size;
  display: flex;
  flex-direction: row;
  gap: $spacing-m;
  overflow: hidden;
  position: relative;
  resize: horizontal;

  @each $color, $value in $colors {
    &.#{$color} {
      background-color: $value;
    }

    &.bg-light.#{$color} {
      background-color: transparentize($value, 0.5);
    }
  }

  @each $color, $value in $colors--high-contrast {
    &.#{$color} {
      
      // simple border matching border-radius value
      &.border {
        border: 1px solid $value;
      }

      &.border-left {
        border-left: 8px solid $value;
        // border-left-width: 8px;
      }

      // borders thicker than border-radius
      // &.border {
      //   border: 1px solid $value;
      // }
      // 
      // &.border-left::before {
      //   content: "";
      //   background-color: $value;
      //   position: absolute;
      //   top: -1px;
      //   bottom: -1px;
      //   left: 0;
      //   width: $alert-thick-border;
      // }
    }
  }

  &.bg-none {
    background-color: $bg--base !important;
  }

  .txt {
    &-default {
      .Alert--header h3 {
        font-size: 20px;
        line-height: 120%;
      }

      .Alert--body p {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 0;
      }
    }

    &-small {
      .Alert--header h3 {
        font-size: 18px;
        line-height: 120%;
      }

      .Alert--body p {
        font-size: 15px;
        line-height: 150%;
        margin-bottom: 0;
      }
    }
  }

  .Alert--content {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: $spacing-l;
    justify-content: space-between;
    padding: $alert-inner-padding;
    width: 100%;
  }

  .Alert--icon-and-text-wrapper {
    display: flex;
    flex-direction: row;
    gap: $spacing-m;

    .text-lockup {
      flex-grow: 1;
    }
  }

  .Alert--actions {
    align-items: center;
    display: flex;
    gap: $spacing-s;
    flex-direction: row;
    flex-grow: 0;
    flex-wrap: wrap;
    min-width: fit-content;
  }

  .Alert--icon {
    height: $icon-size;
    min-height: $icon-size;
    min-width: $icon-size;
    width: $icon-size;

    @each $color, $value in $colors--high-contrast {
      &.#{$color} svg path {
        fill: $value !important;
      }
    }
  }
  
  .button-dismiss {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: $dismiss-button-border-radius;
    cursor: pointer;
    display: flex;
    height: $dismiss-button-size;
    justify-content: center;
    position: absolute;
    right: $spacing-m;
    top: $spacing-m;
    width: $dismiss-button-size;

    &:hover {
      background-color: transparentize($color, 0.9);
    }
  }
}

/*************************
 *** CONTAINER QUERIES ***
 ************************/

@container alert-outer (max-width: 645px) { // 10px offset for border (9px) and max-width (1px)
  .Alert-New {
    .Alert--content {
      align-items: start;
      flex-direction: column;
      gap: $spacing-m;
    }
  
    .Alert--actions {
      padding-left: $spacing-m + $spacing-l;
    }
  }
}

/*********************
 *** MEDIA QUERIES ***
 ********************/

// @media (max-width: 1100px) {
//   .section.setup .subsection .wrapper {
//     &.shared {
//       gap: $spacing-l;
//       grid-template-columns: 1fr;
//       grid-template-rows: auto;

//       .subwrapper {
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//       }
//     }
//   }
// }

// @media (max-width: 950px) {
//   .App {
//     margin: $spacing-l auto;
//     min-width: fit-content;
//   }

//   .section {
//     margin: 0 $spacing-l;
//     padding: $spacing-l;
//   }

//   .section.setup .section--main {
//     gap: $spacing-l;
//     grid-template-columns: 1fr;
//     grid-template-rows: auto;
//   }

//   .section.setup .subsection .wrapper.new {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

// @media (max-width: 750px) {
//   .section.setup .subsection .wrapper {
//     grid-template-columns: 1fr;
//     grid-template-rows: auto;
//   }
// }

// @media (max-width: 550px) {
//   .section.setup .cta-block {
//     flex-direction: column;

//     form {
//       width: 100%;
//     }
//   }
// }

// @media (max-width: 450px) {
//   .section.setup .subsection .wrapper {
//     &.shared {
//       .subwrapper {
//         grid-template-columns: 1fr;
//       }
//     }

//     &.new {
//       grid-template-columns: 1fr;
//     }
//   }
// }

/*********************
 *** GENERIC ETC. ****
 ********************/

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: $spacing-m;
}

label {
  text-transform: capitalize;
}

.label {
  display: block;
  font-size: $font-smaller;
  font-weight: bold;
  margin-bottom: $spacing-s;
 }

 .lowercase {
  text-transform: lowercase;
 }

.mt-s {
  margin-top: $spacing-s;
}

.mt-m {
  margin-top: $spacing-m;
}

.mb-s {
  margin-bottom: $spacing-s;
}

.mb-m {
  margin-bottom: $spacing-m;
}

.text-passive {
  color: $color--passive;
}